<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Account - Blue Car Sharing</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"><!--공통스타일-->
    </head>
    <body>
        <h1>Account</h1>
        <hr>
        <p>Your Account : {{ session['user_session'][0] }}</p>
        <a href="/user/account/edit"><button class="long">Edit my Account Information</button></a><br>
        <a href="/user/account/delete"><button class="long">Delete my Account</button></a><br>
        <a href="/user"><button>Back</button></a>
    </body>
</html>