<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Login - Blue Car Sharing</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"><!--공통스타일-->
    </head>
    <body>
        <h1>User Login</h1>
        <hr>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- End of Flash messages -->
        <form method="post" action="/user/login/process">
            <table>
                <tr>
                    <th>User ID</th>
                    <td><input type="text" name="id" id="id" required minlength="6" maxlength="20"></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="password" name="passwd" id="passwd" required minlength="6" maxlength="20"> </td>
                </tr>
            </table>
            <input type="submit" value="Login">
        </form>
        <br><br>
        <a href="/user/signup"><button>Sign Up</button></a>
        <a href="/"><button>Back</button></a>
    </body>
</html>