<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update Car - Blue Car Sharing</title>
    </head>
    <body>
        <h1>Update Car</h1>
        <hr>
        <form action="/manager/managcar/update/process/{{ selected_car_data[0] }}" method="POST">
            <table>
                <tr>
                    <td>number (Cannot Edit)</td>
                    <td><input type="text" name="number" value="{{ selected_car_data[0] }}" disabled></td>
                </tr>
                <tr>
                    <td>model_id (Cannot Edit)</td>
                    <td><input type="number" name="model_id" value="{{ selected_car_data[1] }}" disabled></td>
                </tr>
                <tr>
                    <td>zone_id</td>
                    <td><input type="number" name="zone_id" value="{{ selected_car_data[2] }}" min="0" step="1"></td>
                </tr>
            </table>
            <br>
            <input type="submit" value="UPDATE">
        </form>
        <a href="/manager/managecar"><button>CANCEL</button></a>
    </body>
</html>