<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update Zone - Blue Car Sharing</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style_manager.css">
    </head>
    <body>
        <h1>Update Zone</h1>
        <hr>
        <form action="/manager/managezone/update/process/{{ selected_zone_data[0] }}" method="POST">
            <table>
                <tr>
                    <th>ID</th>
                    <td><input type="text" name="id" value="{{ selected_zone_data[0] }}" disabled> (Cannot Edit)</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td><input type="text" name="city" value="{{ selected_zone_data[1] }}" required></td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td><input type="text" name="name" value="{{ selected_zone_data[2] }}" required></td>
                </tr>
            </table>
            <br>
            <input type="submit" value="UPDATE">
        </form>
        <a href="/manager/managezone"><button>CANCEL</button></a>
    </body>
</html>