<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Subscription - Blue Car Sharing</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"><!--공통스타일-->
    </head>
    <body>
        <h1>You are subscribing BLUEPASS!</h1>
        <hr>
        <p>
            You are receiving an unlimited 50% discount by subscribing.<br>
            2,000 won per month. 
        </p>
        <button class="middle" onclick="conf()">Unsubscribe</button>
        <a href="/user"><button class="middle">Back</button></a>
        <script>
            function conf() {
                if (confirm("Are you sure you want to unsubscribe?")) {
                    alert("Your subscription has been canceled.")
                    window.location.href = "/user/subscription/process";
                }
            }
        </script>
    </body>
</html>