<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Smart key - Blue Car Sharing</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"><!--공통스타일-->
    </head>
    <body>
        <h1>Smart key</h1>
        <hr>
        <h3>Your BlueCar</h3>
        <img src="/static/images/cars/{{ model_data[0] }}.jpg" alt="car_image" width="400" height="200">
        <ul>
            <li>Car : {{ model_data[1] }} {{ model_data[2] }}</li>
            <li>Car Number : {{ reservation_data[1] }}</li>
            <li>Available Days : {{ reservation_data[3] }} ~ {{ reservation_data[4] }}</li>
            <li>The amount paid : {{ reservation_data[5] }} WON</li>
        </ul>
        <h3>Smart Key</h3>
        <button class="middle" onclick="alert('Car Unlocked!')">UNLOCK</button>
        <button class="middle" onclick="alert('Car Locked!')">LOCK</button>
        <br><br>
        <button onclick="confirmCancel()">Cancel Reservation</button>
        <a href="/user"><button>Back</button></a>
        <script>
            function confirmCancel() {
                if (confirm("Are you sure you want to cancel your reservation?")) {
                    alert("Your reservation has been canceled.")
                    window.location.href = "/user/smartkey/cancelreservation";
                }
            }
        </script>
    </body>
</html>