<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up - Blue Car Sharing</title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <hr>
        <form method="post" action="/user/signup/process">
            <!--USER TABLE-->
            <h3>User Information</h3>
            <label for="id">
                ID (min:6, max:20)<input type="text" name="id" id="id" required minlength="6" maxlength="20">
            </label>
            <br>
            <label for="name">
                Name <input type="text" name="name" id="name" required maxlength="20">
            </label>
            <br>
            <label for="passwd">
                Password (min:6, max:20)<input type="password" name="passwd" id="passwd" required minlength="6" maxlength="20">
            </label>
            <br>
            <label for="phone">
                Phone (01012345678) <input type="text" name="phone" id="phone" required minlength="11" maxlength="11">
            </label>
            <br>
            <label for="birthday">
                Birthday <input type="date" name="birthday" id="birthday" required>
            </label>
            <!--LICENSE TABLE-->
            <h3>License Information</h3>
            <label for="license_num">
                License Number (12 numbers)<input type="text" name="license_num" id="license_num" required minlength="12" maxlength="12">
            </label>
            <br>
            <label for="expiration_date">
                License Expiration Date <input type="date" name="expiration_date" id="expiration_date" required>
            </label>
            <!--PAYMENT TABLE-->
            <h3>Payment Information</h3>
            <label for="card_num">
                Card Number (16 numbers)<input type="text" name="card_num" id="card_num" required minlength="16" maxlength="16">
            </label>
            <br>
            <label for="card_valid_thru">
                Card Valid Thru (01/30)<input type="text" name="card_valid_thru" id="card_valid_thru" required minlength="5" maxlength="5">
            </label>
            <label for="card_cvc">
                Card CVC number (123)<input type="text" name="card_cvc" id="card_cvc" required minlength="3" maxlength="3">
            </label>
            <br><br>
            <input type="submit" value="Sign Up">
        </form>
        <a href="/user/login"><button>Back</button></a>
    </body>
</html>